@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 960px;
  margin: 50px auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

.text-green{
    color: green;
    font-size: x-large;
}

.text-red{
    color: red;
}

.bold{
    font-weight: bold;
}

.ml-auto{
    margin-left: auto;
}

.mr-auto{
    margin-right: auto;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-list{
    margin-bottom: 100px;
}

input{
    border: 1px solid gray;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.papyrus{
    background-image: url(img/papyrus.jpg);
    padding: 20px;
    font-family: 'Tangerine', cursive;
    font-size: 47px;
}

footer {
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}